<div class="container">
 
    <a class="a active" href="#">Home</a>
    <a class="b" href="#">About</a>
    <a class="c" href="#">Contact</a>
  
</div>






<div class="action">
  <div class="card" style="width: 30rem;">
    
    <div class="card-body">
        <h5 class="card-title">Your Coach is ready!</h5>
        <p class="card-text"></p>
            <form action="/answer" method="get">
              <input type="text" name="question" placeholder="ask something">
              <input type="submit" value="Ask!">
          </form>
      </div>
        
  </div>
        
</div>
